database/
finall/
node_modules/
/node_modules/
.node_modules/

*.log
*.txt
*.pdf
*.json 


add_test_data.php
add_test_invoices.php
add_test_customers.php
a_notif_test.php
a_sound_test.php
settings copy.php
add_test_reports_data.php
add_remov_prod.php
add_test_reports.php
add_test_notif.php
add_expenses_data.php
add_test_data_full.php
add_tst_products.php
with_catg_install.php



src/img/uploads/
vendor
composer.json
composer.lock
package-lock.json
package.json

tailwind.config.js


dashboard_backup.php



/exe finall/


dist/
/dist

add_test_data.php

/dist_installer